In [8]:
import pandas as pd
import random

In [9]:
footballStats = {'pl00' :
                {'name': ['bob'],
                'touchdowns': ['12'],
                'sacks': ['1']
                },
                'pl50' :
                {'name': ['john'],
                'touchdowns': ['14'],
                'sacks': ['1']
                },
                'pl23' :
                {'name': ['bill'],
                'touchdowns': ['15'],
                'sacks': ['15']
                },
                'pl12' :
                {'name': ['matt'],
                'touchdowns': ['1'],
                'sacks': ['5']
                },
                'pl10' :
                {'name': ['matt'],
                'touchdowns': ['1'],
                'sacks': ['5']
                }
                }

In [10]:
def randomlistGen(entries):
    retlist =[random.randint(0,100) for i in range(entries)]
    return retlist

In [12]:
diction1={}
listct = 0
while listct <3:
    diction1[str(listct)+'entry']= randomlistGen(3)
    listct+=1
mydbex=pd.DataFrame(diction1)

In [13]:
mydbex

   0entry  1entry  2entry
0      74      34      22
1      17      77      11
2      97      16      82